<ion-header class="ion-no-border">
  <ion-toolbar class="background_color">
    <ion-grid fixed>
      <ion-row class="ion-align-items-center">
        <ion-col size="6" class="ion-align-items-center text_header bold putih">Proyek</ion-col>
        <ion-col size="6" class="ion-text-end">
          <ion-button (click)="kembali()" fill="clear" class="padding_button">
            <ion-icon name="arrow-back-outline" size="large" class="putih"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed class="ion-no-padding" style="top: 3rem;">
    <ion-row class=" ion-padding-top background_color_biru_gelap">

      <ion-col size="12" class="">
        <ion-card class="bayangan">
          <ion-card-header>
            <ion-grid fixed class="ion-no-padding">
              <ion-row>
                <ion-col size="12">

                  <!-- loading muncul ? -->
                  <ng-container 
                    *ngIf="loading; then loading_muncul_judul; else loading_tidak_muncul_judul">
                  </ng-container>

                  <!-- ya loading muncul -->
                  <ng-template #loading_muncul_judul>
                    <ion-skeleton-text animated style="width: 100%; height: 2rem;"></ion-skeleton-text>
                  </ng-template>

                  <!-- tidak loading tidak muncul -->
                  <ng-template #loading_tidak_muncul_judul>
                    <ion-card-title class="ion-text-center text_judul">{{ judul_proyek }}</ion-card-title>
                  </ng-template>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>

          <ion-card-content>

            <!-- loading muncul ? -->
            <ng-container 
              *ngIf="loading; then loading_muncul_konten; else loading_tidak_muncul_konten">
            </ng-container>

            <!-- ya loading muncul -->
            <ng-template #loading_muncul_konten>
              <ion-grid fixed class="ion-no-padding">
                <ion-row>
                  <ion-col size="12">
                    <ion-list class="">
                      <ion-item>
                        <ion-skeleton-text animated style="width: 40%; height: 1rem;"></ion-skeleton-text>
                      </ion-item>
                      <ion-item>
                        <ion-skeleton-text animated style="width: 40%; height: 1rem;"></ion-skeleton-text>
                      </ion-item>
                      <ion-item>
                        <ion-skeleton-text animated style="width: 40%; height: 1rem;"></ion-skeleton-text>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-skeleton-text animated style="width: 40%; height: 1rem;"></ion-skeleton-text>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ng-template>

            <!-- tidak loading tidak muncul -->
            <ng-template #loading_tidak_muncul_konten>
              <ion-grid fixed class="grid_width ion-no-padding">
                <ion-row>
                  <ion-col size="12" class="ion-padding-bottom">
                    <ion-searchbar class="ion-no-padding" [(ngModel)]="searchTerm" placeholder="Cari kegiatan"></ion-searchbar>
                  </ion-col>
                  <ion-col size="12">
                    <ion-list>  
                      <div class="scrollan" scrolly="true" style="max-height:43rem">
                        <ion-item button *ngFor="let data of detail_kegiatan | filter:searchTerm" (click)="proyek_kegiatan(data.id)">
                          <ion-label class="text_konten">
                            <h2 class="ion-text-wrap">
                              {{ data.uraian_kegiatan }}
                            </h2>
                          </ion-label>
                          <ion-icon name="chevron-forward-outline" class="ion-text-end"></ion-icon>
                        </ion-item>
                      </div>
                    </ion-list>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ng-template>

            </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
  
</ion-content>
