<ion-header class="ion-no-border">
  <ion-toolbar class="background_color">
    <ion-grid fixed>
      <ion-row class="ion-align-items-center">
        <ion-col size="6" class="ion-align-items-center text_header bold putih">Proyek</ion-col>
        <ion-col size="6" class="ion-text-end">
          <ion-button (click)="kembali()" fill="clear" class="padding_button">
            <ion-icon name="arrow-back-outline" size="large" class="putih"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed class="ion-no-padding" style="top: 3rem;">
    <ion-row class=" ion-padding-top background_color_biru_gelap">

      <ion-col size="12" class="">
        <ion-card class="bayangan">
          <ion-card-header>
            <ion-grid fixed class="ion-no-padding">
              <ion-row>
                <ion-col size="12">

                  <ng-container 
                    *ngIf="loading; then loading_muncul_judul; else loading_tidak_muncul_judul">
                  </ng-container>

                  <ng-template #loading_muncul_judul>
                    <ion-skeleton-text animated style="width: 100%; height: 2rem;"></ion-skeleton-text>
                  </ng-template>

                  <ng-template #loading_tidak_muncul_judul>
                    <ion-card-title class="ion-text-center text_judul">{{ judul_proyek }}</ion-card-title>
                  </ng-template>
                </ion-col>
                <ion-col size="12">

                <ng-container 
                  *ngIf="loading; then loading_muncul_segment; else loading_tidak_muncul_segment">
                </ng-container>
                  
                  <ng-template #loading_muncul_segment>
                    <ion-segment>
                      <ion-segment-button value="1">
                        <ion-skeleton-text animated style="width: 100%; height: 1rem;"></ion-skeleton-text>
                      </ion-segment-button>
                      <ion-segment-button value="2">
                        <ion-skeleton-text animated style="width: 100%; height: 1rem;"></ion-skeleton-text>
                      </ion-segment-button>
                    </ion-segment>
                  </ng-template>

                  <ng-template #loading_tidak_muncul_segment>
                    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="warna_segment" [color]="warna_segment == 1 ? 'warning' : 'success'">
                      <ion-segment-button value="1">
                        <ion-label class="text_segment">Masih Proses</ion-label>
                      </ion-segment-button>
                      <ion-segment-button value="2">
                        <ion-label class="text_segment">Sudah Selesai</ion-label>
                      </ion-segment-button>
                    </ion-segment>
                  </ng-template>

                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>

          <ion-card-content>

            <ng-container 
              *ngIf="loading; then loading_muncul_konten; else loading_tidak_muncul_konten">
            </ng-container>

            <ng-template #loading_muncul_konten>
              <ion-grid fixed class="ion-no-padding">
                <ion-row>
                  <ion-col size="12">
                    <ion-list class="">
                      <ion-item>
                        <ion-skeleton-text animated style="width: 40%; height: 1rem;"></ion-skeleton-text>
                      </ion-item>
                      <ion-item>
                        <ion-skeleton-text animated style="width: 40%; height: 1rem;"></ion-skeleton-text>
                      </ion-item>
                      <ion-item>
                        <ion-skeleton-text animated style="width: 40%; height: 1rem;"></ion-skeleton-text>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-skeleton-text animated style="width: 40%; height: 1rem;"></ion-skeleton-text>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ng-template>

            <ng-template #loading_tidak_muncul_konten>
              <ion-slides  #slides pager="true" [options]="slideOpts" (ionSlideDidChange)="slideDidChange(slides)">

            <!-- slide masih proses -->
            <ion-slide>
                                
              <ion-grid class="grid_width ion-no-padding" fixed>
                <ion-row>
                  <ion-col size="12">
                    
                    <!-- jika data masih proses tidak sama dengan 0 -->
                    <div *ngIf="data_masih_proses != 0; then data_ada; else data_tidak_ada"></div>
                  
                    <!-- true -->
                    <!-- menampilkan data masih proses -->
                    <ng-template #data_ada>
                      <ion-searchbar class="ion-no-padding "></ion-searchbar>

                      <ion-list>
                        <div class="scrollan" scrolly="true" style="max-height:6rem">
                          <ion-item button *ngFor="let data_proses of data_masih_proses" (click)="proyek_kegiatan(data_proses.id, 1)">
                            <ion-label class="text_konten ion-text-wrap">{{ data_proses.nama_kegiatan }}</ion-label>
                            <ion-icon name="chevron-forward-outline" class="ion-text-end"></ion-icon>
                          </ion-item>
                        </div>

                      </ion-list>

                    </ng-template>

                    <!-- false -->
                    <!-- validasi untuk menentukan proyek sudah selesai atau belum -->
                    <ng-template #data_tidak_ada>

                    <!-- jika data msudah komplit tidak sama dengan 0 -->
                    <div *ngIf="data_sudah_komplit != 0; then data_ada_beres; else data_ada_belum_beres"></div>

                    <!-- true -->
                    <!-- proyek selesai -->
                    <ng-template #data_ada_beres>
                      <ion-grid fixed class="ion-no-padding">
                        <ion-row>
                          <ion-col size="12">
                            <img class="image_size" src="assets/beres.png" (error)="errorHandler($event)">
                          </ion-col>
                          <ion-col size="12">
                            <ion-grid fixed>
                              <ion-row class="ion-text-center">
                                <ion-col size="12">
                                  <h1>Kegiatan selesai !</h1>

                                </ion-col>
                                <ion-col size="12">
                                  <h2>Anda telah menyelesaikan seluruh kegiatan di proyek ini !</h2>

                                </ion-col>
                              </ion-row>
                            </ion-grid>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ng-template>

                    <!-- false -->
                    <!-- proyek belum memiliki kegiatan -->
                    <ng-template #data_ada_belum_beres>
                      <ion-grid fixed class="ion-no-padding">
                        <ion-row>
                          <ion-col size="12">
                            <img class="image_size" src="assets/kosong.png" (error)="errorHandler($event)">
                          </ion-col>
                          <ion-col size="12">
                            <ion-grid fixed>
                              <ion-row class="ion-text-center">
                                <ion-col size="12">
                                  <h1 >Tidak ada Kegiatan !</h1>

                                </ion-col>
                                <ion-col size="12">
                                  <h2>Maaf, belum ada kegiatan di proyek ini !</h2>

                                </ion-col>
                              </ion-row>
                            </ion-grid>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ng-template>

                    </ng-template>

                  </ion-col>
                </ion-row>
              </ion-grid>

            </ion-slide>

                <!-- slide sudah komplit -->
                <ion-slide >
                  <!-- jika data komplit tidak sama dengan 0 -->
                  <ng-container
                    *ngIf="data_sudah_komplit != 0; then ada; else data_tidak_ada">
                  </ng-container>

                  <!-- true -->
                  <!-- manampilkan data komplit -->
                  <ng-template #ada>
                    <ion-grid fixed class="grid_width ion-no-padding">
                      <ion-row>
                        <ion-searchbar class="ion-no-padding"></ion-searchbar>

                        <ion-col size="12">
                          <ion-list>  
                            <div class="scrollan" scrolly="true" style="max-height:6rem">
                              <ion-item button *ngFor="let data_komplit of data_sudah_komplit" (click)="proyek_kegiatan(data_komplit.id, 2)">
                                <ion-label class="text_konten">
                                  <h2 class="ion-text-wrap">
                                    {{ data_komplit.nama_kegiatan }}
                                  </h2>
                                </ion-label>
                                <ion-icon name="chevron-forward-outline" class="ion-text-end"></ion-icon>
                              </ion-item>
                            </div>
                          </ion-list>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ng-template>

                  <!-- false -->
                  <!-- data kmplit kosong -->
                  <ng-template #data_tidak_ada>

                      <ion-grid fixed class="grid_width ion-no-padding">
                        <ion-row>
                          <ion-col size="12">
                            <img class="image_size" src="assets/kosong.png" (error)="errorHandler($event)">
                          </ion-col>
                          <ion-col size="12">
                            <ion-grid fixed>
                              <ion-row class="ion-text-center">
                                <ion-col size="12">
                                  <h1 >Tidak ada Kegiatan !</h1>
          
                                </ion-col>
                                <ion-col size="12">
                                  <h2>Belum ada kegiatan yang selesai !</h2>
          
                                </ion-col>
                              </ion-row>
                            </ion-grid>
                          </ion-col>
                        </ion-row>
                      </ion-grid>

                  </ng-template>
                </ion-slide>

              </ion-slides>
            </ng-template>

            </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
