<ion-header class="ion-no-border">
  <ion-toolbar class="background_color">
    <ion-grid fixed>
      <ion-row class="ion-align-items-center">
        <ion-col size="9" class="ion-align-items-center text_header bold putih">Informasi Lampiran</ion-col>
        <ion-col size="3" class="ion-text-end">
          <ion-button (click)="tutup()" class="padding_button" color="danger">
            <ion-icon name="close-outline" size="large" class="putih"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-align-items-center background_konten">
  <ion-card>

    <ion-card-content>
      <ion-grid class="ion-text-center ion-align-items-center">
        <ion-row class="ion-text-center hitam">
          <ion-col size="6">
            <h1>
              Nama file
            </h1>
          </ion-col>
          <ion-col size="6">
            <h1>
              Status
            </h1>
          </ion-col>
        </ion-row>
    
        <div *ngFor="let data of arr_hasil">
          <ion-row class="ion-text-center">
            <ion-col size="6">
              <h3>
                {{ data.namna_file }}
              </h3>
            </ion-col>
            <ion-col size="6">
              <ng-container *ngIf="data.hasil == 'Berhasil !';then berhasil; else gagal"></ng-container>
              <ng-template #berhasil>
                <h3 class="hijau_">
                  {{ data.hasil }}
                </h3>
              </ng-template>

              <ng-template #gagal>
                <h3 class="merah_">
                  {{ data.hasil }}
                </h3>
              </ng-template>

            </ion-col>
          </ion-row>
        </div>

      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
