<ion-header class="ion-no-border">
  <ion-toolbar class="background_color">
    <ion-grid fixed>
      <ion-row class="ion-align-items-center">
        <ion-col size="8" class="ion-align-items-center text_header bold putih">Formulir Laporan</ion-col>
        <ion-col size="4" class="ion-text-end">
          <ion-button (click)="kembali()" fill="clear" class="padding_button">
            <ion-icon name="arrow-back-outline" size="large" class="putih"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="background_konten">

  <ion-grid fixed class="ion-no-padding">
    <ion-row class="background_color_biru_gelap ion-padding-top">
      <ion-col size="12" class="">
        <ion-card class="bayangan">
          <ion-card-header class="no_padding_bottom">
            <ion-card-title (click)="cobaan()" class="ion-text-start">Kegiatan {{ lapor_namakegiatan }}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-grid fixed class="ion-no-padding">
              <ion-row>
                <ion-col size="12">
                  <ion-list>
                    <ion-item>
                      <ion-label position="floating">Keterangan Kegiatan</ion-label>
                      <ion-textarea [(ngModel)]="data_keterangan_f" maxlength="255" placeholder="Keterangan dari foto . . "></ion-textarea>
                    </ion-item>
                    <ion-item>
                      <ion-label>Persen Pengerjaan</ion-label>
                      <ion-select [interfaceOptions]="customAlertOptions" interface="alert" placeholder="0%" (ionChange)="diklik();" [(ngModel)]="place">
                        <ion-select-option *ngFor="let data of array_persen" value="{{ data }}">{{ data }}%</ion-select-option>
                      </ion-select>
                    </ion-item>
                    <ion-item>
                      <ion-grid fixed class="ion-no-padding ion-padding-top">
                        <ion-row>

                          <ion-col size="12">
                            <ion-card-title class="ion-text-start">Foto Kegiatan</ion-card-title>
                          </ion-col>

                          <ion-col size="12" class="ion-padding-top" *ngIf="pilih_gambar; else gambar_ada">
                            <ion-button (click)="presentActionSheet()" expand="block" class="ion-no-margin" class="button_height">
                              <h2>
                                Pilih Gambar
                              </h2>
                            </ion-button>
                          </ion-col>
                          
                          <ng-template #gambar_ada></ng-template>

                          <div *ngIf="gambar_kosong; else gambar_tidak_kosong"></div>

                          <ng-template #gambar_tidak_kosong>
                            <ion-col size="12" class="ion-padding-top ion-text-center">
  
                              <div>
                                <img class="ngatur_gambar bayangan" src="{{ imgURL }}" (error)="errorHandler($event)">
  
                                <ion-fab vertical="top" horizontal="end" slot="fixed" class="fab_position" (click)="batal_gambar()">
                                  <ion-fab-button color="danger" id="moda_pilih-gammbar_tabs3">
                                    <ion-icon name="close-outline" size="large"></ion-icon>
                                  </ion-fab-button>
                                </ion-fab>
                              </div>
                              
                            </ion-col>
                          </ng-template>

                        </ion-row>

                      </ion-grid>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-grid fixed class="ion-no-padding ion-padding-top">
                        <ion-row>
                          <ion-col size="6">
                            <ion-button (click)="batal_laporan()" expand="block" color="danger" class="ion-margin-end button_height">
                              <h2>
                                Batal
                              </h2>
                            </ion-button>
                          </ion-col>
                          <ion-col size="6">
                            <ion-button (click)="validasi()" expand="block" color="primary" class="ion-margin-start button_height">
                              <h2>
                                Kirim
                              </h2>
                            </ion-button>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>