<ion-header class="ion-no-border">
  <ion-toolbar class="background_color">
    <ion-grid fixed>
      <ion-row class="ion-align-items-center">
        <ion-col size="8" class="ion-align-items-center text_header bold putih">Formulir Laporan</ion-col>
        <ion-col size="4" class="ion-text-end">
          <ion-button (click)="kembali()" fill="clear" class="padding_button">
            <ion-icon name="arrow-back-outline" size="large" class="putih"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="background_konten">

  <ion-grid fixed class="ion-no-padding">
    <ion-row class="background_color_biru_gelap ion-padding-top">
      <ion-col size="12" class="">
        <ion-card class="bayangan">
          <ion-card-header class="no_padding_bottom">
            <ion-card-title class="ion-text-center ion-text-wrap judul_size">{{ lapor_namakegiatan }}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-grid fixed class="ion-no-padding">
              <ion-row>
                <ion-col size="12">
                  <form (ngSubmit)="onSubmit()" [formGroup]="myGroup" novalidate>
                    <ion-col size="12">
                      
                      <ion-list>

                        <!-- <ion-item>
                          <ion-grid fixed class="ion-no-padding">
                            <ion-row>
                              <ion-col size="12">
                                <ion-label class="label_font hitam">Kode Barang</ion-label>
                              </ion-col>
                              <ion-col size="12">
                                <ion-input class="text_keterangan ion-no-padding" formControlName="data_keterangan" required maxlength="255" placeholder="1 unit / 1 meter " (keyup)="onKey($event)"></ion-input>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-item>
                        <ion-label class="error ion-padding-start" *ngIf="isSubmitted && errorControl.data_keterangan.errors?.required">
                          *Keterangan harus diisi.
                        </ion-label>

                        <ion-item>
                          <ion-grid fixed class="ion-no-padding">
                            <ion-row>
                              <ion-col size="12">
                                <ion-label class="label_font hitam ion-padding-top">Volume Barang</ion-label>
                              </ion-col>
                              <ion-col size="12">
                                <ion-input class="text_keterangan ion-no-padding" formControlName="data_keterangan" required maxlength="255" placeholder="1 unit / 1 meter " (keyup)="onKey($event)"></ion-input>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-item>
                        <ion-label class="error ion-padding-start" *ngIf="isSubmitted && errorControl.data_keterangan.errors?.required">
                          *Keterangan harus diisi.
                        </ion-label> -->

                        <ion-item>
                          <ion-grid fixed class="ion-no-padding">
                            <ion-row>
                              <ion-col size="12">
                                <ion-label class="label_font hitam ion-padding-top">Keterangan</ion-label>
                              </ion-col>
                              <ion-col size="12">
                                <ion-textarea class="text_keterangan ion-no-padding" formControlName="data_keterangan" required maxlength="255" placeholder="Keterangan kegiatan" (keyup)="onKey($event)"></ion-textarea>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-item>
                        <ion-label class="error ion-padding-start" *ngIf="isSubmitted && errorControl.data_keterangan.errors?.required">
                          *Keterangan harus diisi.
                        </ion-label>

                        <ion-item>
                          <ion-label class="label_font">Persen Pengerjaan</ion-label>
                          <ion-select class="label_font" okText="Pilih" cancelText="Batal" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="0%" formControlName="data_persen" required (ionChange)="onChange($event)">
                            <ion-select-option class="text_keterangan" *ngFor="let data of array_persen" value="{{ data }}">{{ data }}%</ion-select-option>
                          </ion-select>
                        </ion-item>
                        <ion-label class="error ion-padding-start" *ngIf="isSubmitted && errorControl.data_persen.errors?.required">
                          *Persen pengerjaan harus diisi.
                        </ion-label>

                        <ion-item>
                          <ion-label class="label_font">Lampirkan File</ion-label>
                          <ion-select class="label_font" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="image/pdf" formControlName="data_type" required (ionChange)="onChangetype($event)">
                            <ion-select-option class="text_keterangan" value="1">Gambar</ion-select-option>
                            <ion-select-option class="text_keterangan" value="2">PDF</ion-select-option>
                          </ion-select>
                        </ion-item>
                        <ion-label class="error ion-padding-start" *ngIf="isSubmitted && errorControl.data_type.errors?.required">
                          *Pilih salah satu yang akan di lampirkan.
                        </ion-label>

                        <ng-container *ngIf="tipe_lampiran; then user_memilih; else user_belum_memilih"></ng-container>

                        <ng-template #user_memilih>
                          <ng-container *ngIf="tipe_lampiran == 1; then gambar_tampil; else pdf_tampil"></ng-container>

                          <ng-template #gambar_tampil>
                            <ion-item lines="none">
                              <ion-grid fixed class="ion-no-padding ion-padding-top">
                                <ion-row>
      
                                  <ion-col size="12">
                                    <ion-label class="label_font ion-text-start hitam">Gambar Kegiatan</ion-label>
                                  </ion-col>
      
                                  <ion-col size="12" class="ion-padding-top" *ngIf="pilih_gambar; else gambar_ada">
                                    <ion-button (click)="presentActionSheet()" color="main2" expand="block" class="ion-no-margin" class="button_height" fill="outline">
                                      <h2 class="label_font">
                                        Pilih Gambar
                                      </h2>
                                    </ion-button>
                                    <ion-label>
                                      *Max file gambar 5MB
                                    </ion-label>
                                  </ion-col>
                                  
                                </ion-row>
      
                              </ion-grid>
                            </ion-item>
    
                            <ion-item *ngFor="let data of arr_img; let i = index">
                              <ion-thumbnail slot="start">
                                <img src="{{ data.img }}"/>
                              </ion-thumbnail>
                              <ion-label class="ion-text-wrap">{{ data.nama }}</ion-label>
                              <ion-button slot="end" fill="clear" color="danger" (click)="deleteImage(i)">
                                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
                              </ion-button>
                            </ion-item>
                          </ng-template>
  
                          <ng-template #pdf_tampil>
                            <ion-item lines="none">
                              <ion-grid fixed class="ion-no-padding ion-padding-top">
                                <ion-row>
      
                                  <ion-col size="12">
                                    <ion-label class="label_font ion-text-start hitam">File Kegiatan</ion-label>
                                  </ion-col>
      
                                  <ion-col size="12" class="ion-padding-top" *ngIf="pilih_gambar; else gambar_ada">
                                    <ion-button (click)="dapatkan_pdf()" color="main2" expand="block" class="ion-no-margin" class="button_height" fill="outline">
                                      <h2 class="label_font">
                                        Pilih File PDF
                                      </h2>
                                    </ion-button>
                                    <ion-label>
                                      *Max file pdf 5MB
                                    </ion-label>
                                  </ion-col>
                                  
                                </ion-row>
      
                              </ion-grid>
                            </ion-item>
    
                            <ion-item *ngFor="let data of arr_file_pdf; let i = index">
                              <ion-thumbnail slot="start">
                                <img src="assets/pdf_icon.png"/>
                              </ion-thumbnail>
                              <ion-label class="ion-text-wrap">{{ data.nama }}</ion-label>
                              <ion-button slot="end" fill="clear" color="danger" (click)="deletefile(i)">
                                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
                              </ion-button>
                            </ion-item>
                          </ng-template>
                        </ng-template>

                        <ng-template #user_belum_memilih>
                        </ng-template>

                        <ion-item lines="none">
                          <ion-grid fixed class="ion-no-padding ion-padding-top">
                            <ion-row>
                              <ion-col size="6">
                              </ion-col>
                              <ion-col size="6">
                                <ion-button type="submit" expand="block" color="primary" class="ion-margin-start button_height">
                                  <h2 class="label_font">
                                    Kirim
                                  </h2>
                                </ion-button>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-item>
                      </ion-list>

                    </ion-col>

                  </form>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>