.text_header{
    font-size: 1.5rem;
  }
  
  .item-md.item-input .item-inner {
    border-bottom-color: black !important;
  }
  
  .background_color{
    // --background: ;
    --background: #1B2338;
  }

  .background_konten{
    // --background: ;
    --background: #F2F4F3;
  }
  
  .padding_button{
    --padding-end: 0px
  }
  
  .background_color_biru_gelap{
    background: #1B2338;
    height: 5rem;
    border-radius: 0 0 50% 50%;
  }
    
  .border_radius{
    border-radius: 1rem;
  }
  
  .text_konten_banyak{
    font-size: 2rem;
    font-weight: 800;
  }
  
  .ngatur_gambar{
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .button_height{
    height: 2.5rem;
  }

  .fab_position{
    right: 0px;
  }

  .no_padding_bottom{
    padding-bottom: 0px;
  }

  .label_font{
    font-size: 120%;
  }

  .text_keterangan{
    font-size: 110%;
  }

  .judul_size{
    font-size: 160%;
    padding-bottom: 5px;
  }