<ion-header class="ion-no-border">
  <ion-toolbar class="background_color">
    <ion-grid fixed>
      <ion-row class="ion-align-items-center">
        <ion-col size="8" class="ion-align-items-center text_header bold putih">Formulir Laporan</ion-col>
        <!-- kembali -->
        <ion-col size="4" class="ion-text-end">
          <ion-button (click)="kembali()" fill="clear" class="padding_button">
            <ion-icon name="arrow-back-outline" size="large" class="putih"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="background_konten">

  <ion-grid fixed class="ion-no-padding">
    <ion-row class="background_color_biru_gelap ion-padding-top">
      <ion-col size="12" class="">
        <ion-card class="bayangan">
          <ion-card-header class="no_padding_bottom">
            <ion-card-title class="ion-text-center ion-text-wrap judul_size">{{ lapor_namakegiatan }}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-grid fixed class="ion-no-padding">
              <ion-row>
                <ion-col size="12">
                  <!-- form laporan -->
                  <form (ngSubmit)="onSubmit()" [formGroup]="myGroup" novalidate>
                    <ion-col size="12">
                      
                      <ion-list>

                        <!-- apakah tipe laporan satuannya meter ? -->
                        <ng-container *ngIf="tipe_laporan == 'Meter'; then _meter; else bukan_meter"></ng-container>

                        <!-- ya tipe laporan satuannya meter -->
                        <ng-template #_meter>
                          <ion-item>
                            <ion-grid fixed class="ion-no-padding">
                              <ion-row>
                                <ion-col size="12">
                                  <ion-label class="label_font hitam ion-padding-top">Volume</ion-label>
                                </ion-col>
                                <ion-col size="12">
                                  <ion-input class="text_keterangan ion-no-padding" type="number" formControlName="data_volume" required maxlength="255" placeholder="1 meter" (keyup)="onKey($event)"></ion-input>
                                </ion-col>
                              </ion-row>
                            </ion-grid>
                          </ion-item>
                          <ion-label class="error ion-padding-start" *ngIf="isSubmitted && errorControl.data_volume.errors?.required">
                            *Volume barang harus diisi.
                          </ion-label>
                        </ng-template>

                        <!-- tidak tipe laporan satuannya bukan meter meter -->
                        <ng-template #bukan_meter>
                          <ion-item>
                            <ion-grid fixed class="ion-no-padding">
                              <ion-row>
                                <ion-col size="12">
                                  <ion-label class="label_font hitam ion-padding-top">Volume</ion-label>
                                </ion-col>
                                <ion-col size="12">
                                  <ion-input class="text_keterangan ion-no-padding" [attr.disabled]="true" type="number" formControlName="data_volume" required maxlength="255" (keyup)="onKey($event)"></ion-input>
                                </ion-col>
                              </ion-row>
                            </ion-grid>
                          </ion-item>
                          <ion-label class="error ion-padding-start" *ngIf="isSubmitted && errorControl.data_volume.errors?.required">
                            *Volume barang harus diisi.
                          </ion-label>
                        </ng-template>

                        <ion-item>
                          <ion-grid fixed class="ion-no-padding">
                            <ion-row>
                              <ion-col size="12">
                                <ion-label class="label_font hitam ion-padding-top">Keterangan</ion-label>
                              </ion-col>
                              <ion-col size="12">
                                <ion-textarea class="text_keterangan ion-no-padding" formControlName="data_keterangan" required maxlength="255" placeholder="Keterangan kegiatan" (keyup)="onKey($event)"></ion-textarea>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-item>
                        <ion-label class="error ion-padding-start" *ngIf="isSubmitted && errorControl.data_keterangan.errors?.required">
                          *Keterangan harus diisi.
                        </ion-label>

                        <ion-item lines="none">
                          <ion-grid fixed class="ion-no-padding ion-padding-top">
                            <ion-row>
  
                              <ion-col size="12">
                                <ion-label class="label_font ion-text-start hitam">Lampiran Kegiatan</ion-label>
                              </ion-col>
  
                              <ion-col size="12" class="ion-padding-top">
                                <ion-button (click)="presentActionSheet()" color="main2" expand="block" class="ion-no-margin" class="button_height" fill="outline">
                                  <h2 class="label_font">
                                    Pilih lampiran
                                  </h2>
                                </ion-button>
                                <ion-label>
                                  *Max file lampiran 10MB
                                </ion-label>
                              </ion-col>
                              
                            </ion-row>
  
                          </ion-grid>
                        </ion-item>

                        <!-- menampilkan tumbnail data-->
                        <ion-item *ngFor="let data of arr_data_img_pdf; let i = index">
                          
                            <ion-thumbnail slot="start" *ngIf="data.tipe == 'JPEG';else pdf">
                              <img src="{{ data.path }}"/>
                            </ion-thumbnail>

                            <ng-template #pdf>
                              <ion-thumbnail slot="start">
                                <img src="assets/pdf_icon.png"/>
                              </ion-thumbnail>
                            </ng-template>

                            <ion-label class="ion-text-wrap">{{ data.nama }}</ion-label>
                            <ion-button slot="end" fill="clear" color="danger" (click)="deleteImage(i)">
                              <ion-icon slot="icon-only" name="close-outline"></ion-icon>
                            </ion-button>


                        </ion-item>

                        <ion-item lines="none">
                          <ion-grid fixed class="ion-no-padding ion-padding-top">
                            <ion-row>
                              <ion-col size="6">
                              </ion-col>
                              <ion-col size="6">
                                <ion-button type="submit" expand="block" color="primary" class="ion-margin-start button_height">
                                  <h2 class="label_font">
                                    Kirim
                                  </h2>
                                </ion-button>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-item>
                      </ion-list>

                    </ion-col>

                  </form>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
  
</ion-content>

<ion-footer>
  <ion-progress-bar color="success" value="{{ progress }}" *ngIf="sedang_upload; else tidak_sedang_upload"></ion-progress-bar>
  <ng-template #tidak_sedang_upload></ng-template>

  <ion-progress-bar value="{{ data_progres_bar }}" *ngIf="sedang_mengirim; else tidak_sedang_mengirim"></ion-progress-bar>
  <ng-template #tidak_sedang_mengirim></ng-template>
</ion-footer>