<ion-content>
  <div class="header">
    <ion-grid >
      <ion-row justify-content-start align-items-start>
        <ion-col class="konten_header" size="10">
          <ion-text>
            <h1 class="warna_putih font_nama_pengguna bold ">Laporan Harian</h1>
          </ion-text>    
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="card">
    <div class="images">
      <ion-card class="card_border margin_bawah">
        <ion-card-header class="card_header">
          <ion-card-subtitle class="title_text warna_putih">Gambar</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="">
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <!-- <img class="card_border" src="assets/tiang.jpg" height="250px" width="250px"> -->
                <img class="card_border" src="{{ imgURL }}" height="250px" width="250px">
                <!-- <img class="card_border" [src]="imgurl" height="250px" width="250px"> -->
              </ion-col>
            </ion-row>

            <ion-row class="ion-text-center">
              <ion-col size="6">
                <ion-button expand="block" color="primary" class="" (click)="pilihgambar()">Pilih Gambar</ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button expand="block" fill="outline" color="primary" class="">Batal</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="content">
      <ion-grid>

        <ion-row>
          <ion-col size="12" class="card_konten_info">
            <div>
              <ion-card class="i_card_margin card_border">
                <ion-card-header class="card_header">
                  <ion-card-subtitle class="title_text warna_putih">Keterangan Laporan</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content class="">
                  <ion-grid fixed>

                    <ion-row>
                      <ion-col size="12">                        
                        <ion-button expand="block" color="primary" class="" (click)="pilihkegiatan()">Pilih Kegiatan</ion-button>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col size="12">                        
                        <ion-text color="dark" class="">
                          <p class=" font_kegiatan">
                            Nama kegiatan
                          </p>
                        </ion-text> 
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col size="12">                        
                        <ion-button expand="block" color="primary" class="" (click)="pilihkegiatan()">Pilih Tahapan</ion-button>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col size="12">                        
                        <ion-text color="dark" class="">
                          <p class=" font_kegiatan">
                            Nama tahapan
                          </p>
                        </ion-text> 
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col size="12">
                        <ion-item>
                          <ion-label position="floating">Volume Barang</ion-label>
                          <ion-input placeholder="Banyaknya Unit/Panjang Barang"></ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col size="12">
                        <ion-item>
                          <ion-label position="floating" class="">Keterangan</ion-label>
                          <ion-textarea maxlength="255" placeholder="Keterangan dari foto . . "></ion-textarea>
                        </ion-item>
                      </ion-col>
                    </ion-row>

                    <ion-row class="ion-text-center">
                      <ion-col size="6">
                        <ion-button click="batal()" expand="block" fill="outline" color="primary" class="">Batal</ion-button>
                      </ion-col>
                      <ion-col size="6">
                        <ion-button expand="block" color="primary" class="">Kirim</ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
  </div>

</ion-content>