.background_color{
    --background: #1B2338;
}

.padding_button{
    --padding-end: 0px
}

.background_color_biru_gelap{
    background: #1B2338;
    height: 5rem;
    border-radius: 0 0 50% 50%;
}

.border_radius{
    border-radius: 1rem;
}

// .text_konten_banyak{
//     font-size: 2rem;
//     font-weight: 800;
// }

.hr {
    border-bottom: 2px solid rgb(255, 255, 255);
    margin: 10px 0;
    width: 100%;
}

.image_size{
    height: auto;
    width: 15rem;
}

// fontsize
.text_header{
    font-size: 150%;
}

.text_judul{
    font-size: 160%;
    font-weight: 500;
}

.text_konten{
    font-size: 90%;
}


h1 {
    font-size: 300%;
    font-weight: 800;
}

h2 {
    font-size: 130%;
}

h3{
    font-size: 110%;
}

.size_img{
    max-width: 40%;
}