<ion-header class="ion-no-border">
  <ion-toolbar class="background_color">
    <ion-grid fixed>
      <ion-row class="ion-align-items-center">
        <ion-col size="6" class="ion-align-items-center text_header bold putih">Beranda</ion-col>
        <ion-col size="6" class="ion-text-end">
          
          <!-- notifikasi -->
          <ion-button (click)="notif()" fill="clear" class="padding_button">
            <ion-icon  size="large" class="putih" name="alert-circle-outline"></ion-icon>
          </ion-button>
          <img src="assets/rc.png" style="width: 5%;" class="posisi" alt="" srcset="" *ngIf="data_notif_ == true; else tidak_ada_notif">

          <ng-template #tidak_ada_notif></ng-template>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="background_konten">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid fixed class="ion-no-padding" *ngIf="data_beranda_loading_tidak_ada; else data_beranda_loading">
    <!-- data beranda -->
    <ion-row class="ion-padding-top background_color_biru_gelap">
      <ion-col size="12" class="" *ngFor="let data of data_rap; let i = index">

        <!-- apakah data kosong ? -->
        <ng-container *ngIf="obj_data_rap['data_rap1_'+i] == 'kosong'; then rap_kosong; else rap_ada"></ng-container>

        <!-- ya data kosong -->
        <ng-template #rap_kosong>

          <!-- apakah data kosong ? -->
          <ng-container *ngIf="obj_data_rap['data_rap2_'+i] == true; then rap_data_kosong; else rap_data_kosong_ada"></ng-container>

          <!-- ya data kosong -->
          <ng-template #rap_data_kosong>

            <ion-card class="bayangan">

              <ion-card-content class="ion-no-padding">
                <ion-grid fixed class="ion-no-padding">
                  <ion-row>
                    <ion-col size="12">
                      <ion-grid fixed>
                        <ion-row class="ion-text-center">
                          <ion-col size="12">
                            <img class="image_size" src="assets/kosong.png" (error)="errorHandler($event)">
                          </ion-col>
                          <ion-col size="12">
                            <h1 >Belum ada proyek !</h1>
                          </ion-col>
                          <ion-col size="12">
                            <h2>Maaf, belum ada proyek yang anda pegang !</h2>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>

          </ng-template>

          <!-- tidak data tidak kosong -->
          <ng-template #rap_data_kosong_ada>

            <!-- apoakah proyek selesai ? -->
            <ng-container *ngIf="obj_data_rap['data_rap3_'+i] == 'selesai'; then rap_data_selesai; else rap_data_belum"></ng-container>

            <!-- ya proyek selesai -->
            <ng-template #rap_data_selesai>
              <ion-card class="bayangan">
                <ion-card-header class="ion-text-center">
                  <ion-card-title class="ion-text-center text_judul">{{  data.nama_proyek }}</ion-card-title>
                </ion-card-header>
                <ion-card-content class="ion-no-padding">
                  <ion-grid fixed class="ion-no-padding">
                    <ion-row>
                      <ion-col size="12">
                        <ion-grid fixed>
                          <ion-row class="ion-text-center">
                            <ion-col size="12">
                              <img class="image_size" src="assets/beres.png" (error)="errorHandler($event)">
                            </ion-col>
                            <ion-col size="12">
                              <h1 >Proyek selesai !</h1>
                            </ion-col>
                            <ion-col size="12">
                              <h2>Proyek ini sudah selesai !</h2>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ng-template>

            <!-- tidak proyek belum selesai -->
            <ng-template #rap_data_belum>
              <ion-card class="bayangan">
                <ion-card-header class="ion-text-center">
                  <ion-card-title class="ion-text-center text_judul">{{  data.nama_proyek }}</ion-card-title>
                </ion-card-header>
                <ion-card-content class="ion-no-padding">
                  <ion-grid fixed class="ion-no-padding">
                    <ion-row>
                      <ion-col size="12">
                        <ion-grid fixed>
                          <ion-row class="ion-text-center">
                            <ion-col size="12">
                              <img class="image_size" src="assets/kosong.png" (error)="errorHandler($event)">
                            </ion-col>
                            <ion-col size="12">
                              <h1 >Proyek belum siap !</h1>
                            </ion-col>
                            <ion-col size="12">
                              <h2>Maaf, proyek belum siap digunakan !</h2>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ng-template>

          </ng-template>

        </ng-template>

        <!-- tidak data tidak kosong -->
        <ng-template #rap_ada>
          <ion-card class="bayangan">
            <ion-card-header class="padding_buttom">
              <ion-card-title class="ion-text-center text_judul">{{  data.nama_proyek }}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-grid fixed class="ion-no-padding">
                <ion-row>
                  <ion-col size="12">
                    <ion-list>
                      <ion-item class="ion-align-items-center abu" lines="none">
                        <ion-icon class="padding_icon" name="alert-circle-outline"></ion-icon>
                        <h2 class="ion-no-margin detail_informasi">Detail Informasi</h2>
                      </ion-item>
                      <ion-item>
                        <ion-label class="text_konten ion-no-margin">
                          <h3 class="abu padding_button_5px">Lokasi pengerjaam :</h3>
                          <h2 class="padding_button_5px">{{  data.lokasi_pekerjaan }}</h2>
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label class="text_konten ion-no-margin">
                          <h3 class="abu padding_button_5px padding_top_5px">Tanggal awal proyek :</h3>
                          <h2 class="padding_button_5px">{{  tanggal_moment["periodeawal"+i] }}</h2>
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label class="text_konten ion-no-margin">
                          <h3 class="abu padding_button_5px padding_top_5px">Tanggal akhir proyek :</h3>
                          <h2 class="padding_button_5px">{{  tanggal_moment["periodeakhir"+i] }}</h2>
                        </ion-label>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
  
                <ion-row class="ion-align-items-center">
                  <ion-col size="6" class="ion-padding-bottom">
                    <ion-card color="secondary" class="bayangan ion-activatable ripple-parent" (click)="kegiatan(data.id, data.nama_proyek)">
                      <ion-card-content>
                        <ion-grid fixed class="ion-no-padding">
                          <ion-row class="ion-text-start ion-align-items-center">
                            <ion-col size="8" class="putih">
                              <h2 class="">Kegiatan</h2>
                              <h1 class="text_konten_banyak">{{ obj_jumlah_kegiatan[i] }}</h1>
                            </ion-col>
                            <ion-col size="4" class="ion-text-end">
                              <img class="size_img" src="assets/portfolio.png" alt="">
                            </ion-col>
                            <ion-col size="12" class="ion-text-center">
                              <div class="hr"></div>
                              <h3>Lihat Detail</h3>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-card-content>
                    <ion-ripple-effect></ion-ripple-effect>
                    </ion-card>
                  </ion-col>

                  <ion-col size="6" class="ion-padding-bottom">
                    <ion-card color="medium" class="bayangan ion-activatable ripple-parent" (click)="cdokumen(obj_jumlah_cheklist_dokumen['id'+i], data.nama_proyek)">
                      <ion-card-content>
                        <ion-grid fixed class="ion-no-padding">
                          <ion-row class="ion-text-start ion-align-items-center">
                            <ion-col size="8" class="putih">
                              <h2 class="">Dokumen</h2>
                              <h1 class="text_konten_banyak">{{ obj_jumlah_cheklist_dokumen["banyak"+i] }}</h1>
                            </ion-col>
                            <ion-col size="4" class="ion-text-end">
                              <img class="size_img" src="assets/file.png" alt="">
                            </ion-col>
                            <ion-col size="12" class="ion-text-center">
                              <div class="hr"></div>
                              <h3>Lihat Detail</h3>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-card-content>
                    <ion-ripple-effect></ion-ripple-effect>
                    </ion-card>
                  </ion-col>
                </ion-row>
  
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ng-template>

      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- loading skeleton -->
  <ng-template #data_beranda_loading>
    <ion-grid fixed class="ion-no-padding"fixed>
      <ion-row class="ion-padding-top background_color_biru_gelap">
        <ion-col size="12" class="">
          <ion-card class="bayangan">
            <ion-card-header class="ion-padding-horizontal">
              <ion-skeleton-text animated style="width: 100%; height: 2rem;"></ion-skeleton-text>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-grid fixed class="ion-no-padding">
                <ion-row>
                  <ion-col size="12">
                    <ion-list>
                      <ion-item>
                        <ion-skeleton-text animated style="width: 30%" ></ion-skeleton-text>
                      </ion-item>
                      <ion-item>
                        <ion-skeleton-text animated style="width: 30%" ></ion-skeleton-text>
                      </ion-item>
                      <ion-item>
                        <ion-skeleton-text animated style="width: 30%" ></ion-skeleton-text>
                      </ion-item>
                      <ion-item>
                        <ion-skeleton-text animated style="width: 30%" ></ion-skeleton-text>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="">
                    <ion-card>
                      <ion-card-content>
                        <ion-grid fixed class="ion-no-padding">
                          <ion-row class="ion-text-center">
                            <ion-col size="6" class="ion-padding-end">
                              <ion-skeleton-text animated style="width: 100%; height: 8rem;"></ion-skeleton-text>
                            </ion-col>
                            <ion-col size="6" class="ion-padding-start">
                              <ion-skeleton-text animated style="width: 100%; height: 8rem;"></ion-skeleton-text>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ng-template>

</ion-content>
