<ion-header class="ion-no-border">
  <ion-toolbar class="background_color">
    <ion-grid fixed>
      <ion-row class="ion-align-items-center">
        <ion-col size="6" class="ion-align-items-center text_header bold putih">Beranda</ion-col>
        <ion-col size="6" class="ion-text-end">
          <ion-button (click)="keluar()" fill="clear" class="padding_button">
            <ion-icon name="exit-outline" size="large" class="putih"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="background_konten">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid fixed class="ion-no-padding" *ngIf="data_beranda_loading_tidak_ada; else data_beranda_loading">
    <!-- data beranda -->
    <ion-row class="ion-padding-top background_color_biru_gelap">
      <ion-col size="12" class="" *ngFor="let data of data_rap; let i = index">

        <ng-container *ngIf="obj_data_rap[i] == 'kosong'; then rap_kosong; else rap_ada"></ng-container>

        <ng-template #rap_kosong>
          <ion-card class="bayangan">
            <ion-card-header class="ion-text-center">
              <img class="image_size" src="assets/kosong.png" (error)="errorHandler($event)">
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-grid fixed class="ion-no-padding">
                <ion-row>
                  <ion-col size="12">
                    <ion-grid fixed>
                      <ion-row class="ion-text-center">
                        <ion-col size="12">
                          <h1 >Tidak ada proyek !</h1>
  
                        </ion-col>
                        <ion-col size="12">
                          <h2>Maaf, belum ada proyek yang anda pegang !</h2>
  
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ng-template>

        <ng-template #rap_ada>
          <ion-card class="bayangan">
            <ion-card-header class="padding_buttom">
              <ion-card-title class="ion-text-center text_judul">{{  data.kode_rap }}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-grid fixed class="ion-no-padding">
                <ion-row>
                  <ion-col size="12">
                    <ion-list>
                      <ion-item class="ion-align-items-center abu" lines="none">
                        <ion-icon class="padding_icon" name="alert-circle-outline"></ion-icon>
                        <h2 class="ion-no-margin detail_informasi">Detail Informasi</h2>
                      </ion-item>
                      <ion-item>
                        <ion-label class="text_konten">
                          <h3 class="abu">Lokasi pengerjaam :</h3>
                          <h2>{{  data.lokasi_pekerjaan }}</h2>
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label class="text_konten">
                          <h3 class="abu">Tanggal awal proyek :</h3>
                          <h2>{{  tanggal_moment["periodeawal"+i] }}</h2>
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label class="text_konten">
                          <h3 class="abu">Tanggal akhir proyek :</h3>
                          <h2>{{  tanggal_moment["periodeakhir"+i] }}</h2>
                        </ion-label>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
  
                <ion-row>
                  <ion-col size="12">
                    <ion-col size="12" class="ion-padding-bottom">
                      <ion-card color="secondary" class="bayangan ion-activatable ripple-parent" (click)="kegiatan(data.id, data.kode_rap)">
                        <ion-card-content>
                          <ion-grid fixed class="ion-no-padding">
                            <ion-row class="ion-text-start ion-align-items-center">
                              <ion-col size="6" class="putih">
                                <h2 class="bold">Total Kegiatan</h2>
                                <h1 class="text_konten_banyak" *ngIf="obj_jumlah_kegiatan; else jumlah_kegiatan_kosong">{{ obj_jumlah_kegiatan[i] }}</h1>
                                <ng-template #jumlah_kegiatan_kosong></ng-template>
                              </ion-col>
                              <ion-col size="6" class="ion-text-end padding_right">
                                <img class="size_img" src="assets/image_white.png" alt="">
                              </ion-col>
                              <ion-col size="12" class="ion-text-center">
                                <h2>
                                  <div class="hr"> </div>
                                  Lihat uraian kegiatan
                                </h2>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-card-content>
                      <ion-ripple-effect></ion-ripple-effect>
                      </ion-card>
                    </ion-col>
                  </ion-col>
                </ion-row>
  
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ng-template>

      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- loading skeleton -->
  <ng-template #data_beranda_loading>
    <ion-grid fixed class="ion-no-padding"fixed>
      <ion-row class="ion-padding-top background_color_biru_gelap">
        <ion-col size="12" class="">
          <ion-card class="bayangan">
            <ion-card-header class="ion-padding-horizontal">
              <ion-skeleton-text animated style="width: 100%; height: 2rem;"></ion-skeleton-text>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-grid fixed class="ion-no-padding">
                <ion-row>
                  <ion-col size="12">
                    <ion-list>
                      <ion-item>
                        <ion-skeleton-text animated style="width: 30%" ></ion-skeleton-text>
                      </ion-item>
                      <ion-item>
                        <ion-skeleton-text animated style="width: 30%" ></ion-skeleton-text>
                      </ion-item>
                      <ion-item>
                        <ion-skeleton-text animated style="width: 30%" ></ion-skeleton-text>
                      </ion-item>
                      <ion-item>
                        <ion-skeleton-text animated style="width: 30%" ></ion-skeleton-text>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="">
                    <ion-card>
                      <ion-card-content>
                        <ion-grid fixed class="ion-no-padding">
                          <ion-row class="ion-text-center">
                            <ion-col size="6" class="putih">
                              <ion-skeleton-text animated style="width: 50%" ></ion-skeleton-text>
                              <ion-skeleton-text animated style="width: 50%; height: 2rem;"></ion-skeleton-text>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ng-template>

</ion-content>
