<ion-content>
  <div class="header">
    <ion-grid >
      <ion-row justify-content-start align-items-start>
        <ion-col class="konten_header" size="10">
          <ion-text>
            <h1 class="warna_putih font_nama_pengguna bold ">Profil</h1>
          </ion-text>    
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="card">
    <div class="images">
      <!-- <img class="ikut_parent ion-text-center" src="assets/test.jpg"> -->
      <img class="ikut_parent ion-text-center" src="{{ imgURL }}">
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="secondary" id="moda_pilih-gammbar_tabs3">
          <ion-icon name="add" size="large"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>

    <div class="content">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <div>
              <ion-text>
                <h1 class="text_oprasional ">Data Akun</h1>
              </ion-text>   
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="card_konten_info">
            <div>
              <ion-card class="i_card_margin card_border">
                <ion-card-content class="">
                  <ion-grid>
                    <ion-row class="row_konten">
                      <ion-col size="3">
                        <ion-text color="dark">
                          <p class="">Username</p>
                        </ion-text>                      
                      </ion-col>
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="justify ">
                            {{ username_pengguna }}
                          </p>
                        </ion-text>                      
                      </ion-col>
                      <ion-col size="3">
                        <ion-button (click)="ubahusername()" expand="block" fill="outline" shape="round">Ubah</ion-button>
                      </ion-col>
                    </ion-row>
                    <div class="hr">
                    </div>
                    <ion-row class="row_konten">
                      <ion-col size="3">
                        <ion-text color="dark">
                          <p class="">Password</p>
                        </ion-text>                      
                      </ion-col>
                      <ion-col size="6" (click)="lihat_password()">
                        <ion-text color="dark">
                          <p *ngIf="lihatsandi; else tidakterlihat" class="justify">
                            {{ sandi_pengguna }}
                          </p>

                          <ng-template #tidakterlihat>
                            <p class="justify">
                              {{ sandi_pengguna_tidak_terlihat }}
                            </p>
                          </ng-template>

                        </ion-text>                      
                      </ion-col>
                      <ion-col size="3">
                        <ion-button (click)="ubahpassword()" class="" expand="block" fill="outline" shape="round">Ubah</ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="content">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <div>
              <ion-text>
                <h1 class="text_oprasional ">Informasi Pengguna</h1>
              </ion-text>   
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="card_konten_info">
            <div>
              <ion-card class="i_card_margin card_border">
                <ion-card-content class="">
                  <ion-grid>
                    <ion-row class="row_konten">
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="">NIK</p>
                        </ion-text>                      
                      </ion-col>
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="justify ">
                            7894561236547891
                          </p>
                        </ion-text>                      
                      </ion-col>
                    </ion-row>

                    <ion-row class="row_konten">
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="">Nama</p>
                        </ion-text>                      
                      </ion-col>
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="justify">
                            {{ nama_pengguna }}
                          </p>
                        </ion-text>                      
                      </ion-col>
                    </ion-row>

                    <ion-row class="row_konten">
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="">Email</p>
                        </ion-text>                      
                      </ion-col>
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="justify ">
                            {{ email_pengguna }}
                          </p>
                        </ion-text>                      
                      </ion-col>
                    </ion-row>

                    <ion-row class="row_konten">
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="">No.HP</p>
                        </ion-text>                      
                      </ion-col>
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="justify ">
                            {{ nohp_pengguna }}
                          </p>
                        </ion-text>                      
                      </ion-col>
                    </ion-row>

                    <ion-row class="row_konten">
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="">Tempat Lahir</p>
                        </ion-text>                      
                      </ion-col>
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="justify ">
                            {{ tempatlahir_pengguna }}
                          </p>
                        </ion-text>                      
                      </ion-col>
                    </ion-row>

                    <ion-row class="row_konten">
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="">Tanggal Lahir</p>
                        </ion-text>                      
                      </ion-col>
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="justify ">
                            {{ tanggallahir_pengguna }}
                          </p>
                        </ion-text>                      
                      </ion-col>
                    </ion-row>

                    <ion-row class="row_konten">
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="">Jenis Kelamin</p>
                        </ion-text>                      
                      </ion-col>
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="justify ">
                            {{ kelamin_pengguna }}
                          </p>
                        </ion-text>                      
                      </ion-col>
                    </ion-row>

                    <ion-row class="row_konten">
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="">Alamat</p>
                        </ion-text>                      
                      </ion-col>
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="justify ">
                            {{ alamat_pengguna }}
                          </p>
                        </ion-text>                      
                      </ion-col>
                    </ion-row>

                    <ion-row class="row_konten">
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="justify ">Jabatan</p>
                        </ion-text>                      
                      </ion-col>
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="justify ">
                            {{ jabatan_pengguna }}
                          </p>
                        </ion-text>                      
                      </ion-col>
                    </ion-row>

                    <ion-row class="row_konten">
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="justify ">Posisi</p>
                        </ion-text>                      
                      </ion-col>
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="justify ">
                            {{ posisi_pengguna }}
                          </p>
                        </ion-text>                      
                      </ion-col>
                    </ion-row>

                    <ion-row class="row_konten">
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="justify ">Tanggal Bergabung</p>
                        </ion-text>                      
                      </ion-col>
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="justify ">
                            {{ tanggalbergabung_pengguna }}
                          </p>
                        </ion-text>                      
                      </ion-col>
                    </ion-row>

                    
                    <ion-row class="row_konten">
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="justify ">Departemen</p>
                        </ion-text>                      
                      </ion-col>
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="justify ">
                            {{ departemen_pengguna }}
                          </p>
                        </ion-text>                      
                      </ion-col>
                    </ion-row>
                    
                    <ion-row class="row_konten">
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="justify ">Bank Pengguna</p>
                        </ion-text>                      
                      </ion-col>
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="justify ">
                            {{ bank_pengguna }}
                          </p>
                        </ion-text>                      
                      </ion-col>
                    </ion-row>

                    <ion-row class="row_konten">
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="justify ">No Rekening</p>
                        </ion-text>                      
                      </ion-col>
                      <ion-col size="6">
                        <ion-text color="dark">
                          <p class="justify ">
                            {{ rekening_pengguna }}
                          </p>
                        </ion-text>                      
                      </ion-col>
                    </ion-row>

                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>

</ion-content>

<!-- modal pilih gambar -->
<ion-modal trigger="moda_pilih-gammbar_tabs3" class="modal_tab3" [initialBreakpoint]="0.2">
  <ng-template>
    <ion-header>
  
      <ion-toolbar>
        <ion-title>Pilih Gambar</ion-title>
        <ion-button slot="end" (click)="tutup()" class="posisi">
          <ion-icon class="rotate_icon" slot="icon-only" name="add-outline" size="large"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="full" (click)="kamera()" class="ion-text-center" size="large" shape="round">
              <!-- <ion-icon slot="start" name="camera-outline"> -->
                Kamera
              <!-- </ion-icon> -->
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="full" (click)="galeri()" class="ion-text-center" size="large" shape="round">
              <!-- <ion-icon slot="start" name="image-outline"> -->
                Galeri
              <!-- </ion-icon> -->
            </ion-button>  
          </ion-col>
        </ion-row>
      </ion-grid>
    
    </ion-content>
    
  </ng-template>
</ion-modal>
