<ion-header class="ion-no-border">
  <ion-toolbar class="background_color">
    <ion-grid fixed>
      <ion-row class="ion-align-items-center">
        <ion-col size="6" class="text_header bold putih">Profil</ion-col>
        <ion-col size="6" class="ion-text-end">
          <ion-button (click)="keluar()" fill="clear" class="padding_button">
            <ion-icon name="exit-outline" size="large" class="putih"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="ion-no-padding">
    <ion-row class="background_color_biru_gelap ion-padding-top">
      <ion-col size="12" class="ion-text-center">
        <div>
          <img class="gambar_profil bayangan"  src="{{ imgURL }}" (error)="errorHandler($event)">
          <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="fab_position" (click)="presentActionSheet()">
            <ion-fab-button color="secondary">
              <ion-icon name="camera-outline" size="large"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
      </ion-col>
      <ion-col *ngIf="nama_pengguna; else templateName" size="12" class="ion-text-center ion-no-margin ion-text-wrap">
        <h1 class="ion-padding-start ion-padding-end">{{ nama_pengguna }}</h1>
      </ion-col>
      <ng-template #templateName>
        <ion-col size="12" size="12" class="ion-text-center ion-no-margin padding_skeleton_loading">
          <ion-skeleton-text class="padding_skeleton_loading" animated style="width: 100%; height: 2rem;"></ion-skeleton-text>
        </ion-col>
      </ng-template>
      <ion-col size="12">
        <ion-item class="ion-align-items-center ">
          <ion-icon class="padding_icon" name="person-outline"></ion-icon>
          <p class="">Data Akun</p>
        </ion-item>
        <ion-list>
          <ion-item>
            <ion-label>
              <h2>Nama Pengguna</h2>
              <h3 *ngIf="nama_pengguna; else username">{{ username_pengguna }}</h3>
              <ng-template #username>
                <ion-skeleton-text class="" animated style="width: 30%; height: 1rem;"></ion-skeleton-text>
              </ng-template>
            </ion-label>
            <ion-button color="secondary" expand="block" fill="outline" (click)="ubahnama()">
              Ubah
            </ion-button>
          </ion-item>
          
          <ion-item>
            <ion-label (click)="lihat_password()">
              <h2>Sandi Pengguna</h2>
              <div *ngIf="sandi_pengguna; then sandi; else password"></div>

              <ng-template #sandi>                
                <h3 *ngIf="lihatsandi; else tidakterlihat" >{{ sandi_pengguna }}</h3>
  
                <ng-template #tidakterlihat>
                  <h3>
                    {{ sandi_pengguna_tidak_terlihat }}
                  </h3>
                </ng-template>
              </ng-template>

              <ng-template #password>
                <ion-skeleton-text class="" animated style="width: 30%; height: 1rem;"></ion-skeleton-text>
              </ng-template>
            </ion-label>
            <ion-button color="secondary" expand="block" fill="outline" (click)="ubahpassword()">
              Ubah
            </ion-button>
          </ion-item>

        </ion-list>
      </ion-col>
      
      <ion-col size="12">
        <ion-item class="ion-align-items-center ">
          <ion-icon class="padding_icon" name="documents-outline"></ion-icon>
          <p class="">Informasi Pengguna</p>
        </ion-item>
        <ion-list>
          <ion-item (click)="api_ubah_nama()">
            <ion-label>
              <h2>NIK</h2>
              <h3 *ngIf="nik_pengguna; else nik">{{ nik_pengguna }}</h3>
              <ng-template #nik>
                <ion-skeleton-text class="" animated style="width: 40%; height: 1rem;"></ion-skeleton-text>
              </ng-template> 
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Email</h2>
              <h3 *ngIf="email_pengguna; else email">{{ email_pengguna }}</h3>
              <ng-template #email>
                <ion-skeleton-text class="" animated style="width: 40%; height: 1rem;"></ion-skeleton-text>
              </ng-template> 
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Nomor Telepon</h2>
              <h3 *ngIf="nohp_pengguna; else no_hp">{{ nohp_pengguna }}</h3>
              <ng-template #no_hp>
                <ion-skeleton-text class="" animated style="width: 40%; height: 1rem;"></ion-skeleton-text>
              </ng-template> 
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Tempat Lahir</h2>
              <h3 *ngIf="tempatlahir_pengguna; else tempatlahir">{{ tempatlahir_pengguna }}</h3>
              <ng-template #tempatlahir>
                <ion-skeleton-text class="" animated style="width: 40%; height: 1rem;"></ion-skeleton-text>
              </ng-template> 
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Tanggal Lahir</h2>
              <h3 *ngIf="tanggallahir_pengguna; else tanggallahir">{{ tanggallahir_pengguna }}</h3>
              <ng-template #tanggallahir>
                <ion-skeleton-text class="" animated style="width: 40%; height: 1rem;"></ion-skeleton-text>
              </ng-template> 
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Jenis Kelamin</h2>
              <h3 *ngIf="kelamin_pengguna; else kelamin">{{ kelamin_pengguna }}</h3>
              <ng-template #kelamin>
                <ion-skeleton-text class="" animated style="width: 40%; height: 1rem;"></ion-skeleton-text>
              </ng-template> 
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Alamat</h2>
              <h3 class="ion-text-wrap" *ngIf="alamat_pengguna; else alamat">{{ alamat_pengguna }}</h3>
              <ng-template #alamat>
                <ion-skeleton-text class="" animated style="width: 40%; height: 1rem;"></ion-skeleton-text>
              </ng-template> 
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Jabatan</h2>
              <h3 *ngIf="jabatan_pengguna; else jabatan">{{ jabatan_pengguna }}</h3>
              <ng-template #jabatan>
                <ion-skeleton-text class="" animated style="width: 40%; height: 1rem;"></ion-skeleton-text>
              </ng-template> 
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Posisi</h2>
              <h3 *ngIf="posisi_pengguna; else posisi">{{ posisi_pengguna }}</h3>
              <ng-template #posisi>
                <ion-skeleton-text class="" animated style="width: 40%; height: 1rem;"></ion-skeleton-text>
              </ng-template> 
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Tanggal Bergabung</h2>
              <h3  *ngIf="tanggalbergabung_pengguna; else bergng">{{ tanggalbergabung_pengguna }}</h3>
              <ng-template #bergng>
                <ion-skeleton-text class="" animated style="width: 40%; height: 1rem;"></ion-skeleton-text>
              </ng-template> 
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Departemen</h2>
              <h3  *ngIf="departemen_pengguna; else departemen">{{ departemen_pengguna }}</h3>
              <ng-template #departemen>
                <ion-skeleton-text class="" animated style="width: 40%; height: 1rem;"></ion-skeleton-text>
              </ng-template> 
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Bank Pengguna</h2>
              <h3 class="ion-text-wrap" *ngIf="bank_pengguna; else bank">{{ bank_pengguna }}</h3>
              <ng-template #bank>
                <ion-skeleton-text class="" animated style="width: 40%; height: 1rem;"></ion-skeleton-text>
              </ng-template> 
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>No Rekening</h2>
              <h3 *ngIf="rekening_pengguna; else rekening">{{ rekening_pengguna }}</h3>
              <ng-template #rekening>
                <ion-skeleton-text class="" animated style="width: 40%; height: 1rem;"></ion-skeleton-text>
              </ng-template> 
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
