.merah {
    background: #1B2338;
    border-radius: 10px;
}

.input_border{
    border-radius: 10px;
}

.size_img{
    width: 30%;
    height: auto;
}

.padding_button{
    padding-left: 15%;
    padding-right: 15%;
}

.margin_text_logo{
    margin-top: 1%;
}
.padding_col_card{
    padding-left: 8%;
    padding-right: 8%;
}

.margin_grid{
    padding-top: 2rem;
}

.margin_bawah{
    margin-bottom: 2%;
}

.text_login{
    font-size: 2rem;
}

.bold{
    font-weight: bold;
}
.padding_ikon_kanan{
    padding-right: 10px;
}

.putih_button{
    --background: #ffffff;
}

.margin_atas_copyright{
    margin-top: 3rem;
}