.border_input{
    border-color: #403E39;
    border-width: thin;
    border-style: solid;
    border-radius: 10px;
}

ion-input {
    font-size: 20px;
}

ion-header{
    ion-toolbar, ion-item{
        --background: white;
    }
}

.padding_card{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 10px;
}
.padding_col{
    margin-top: 2%;
    margin-bottom: 2%;
}

.text_login{
    font-size: 32px;
}

.item_border{
    border-color: #403E39;
    border-width: thin;
    border-style: solid;
    border-radius: 10px;
}

.padding_cc{
    padding: 0px;
}

.padding_icon{
    padding-right: 6%;
}

ion-content {
    --overflow: hidden;
    --background: white;
    // border-radius: 50px 20px 0px 0px;
}

.bg_card {
    background: linear-gradient(180deg, #FF0300 5%, #790200 100%);
    position: absolute;
    border-radius: 2rem 2rem 0 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.gambar {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.item_border{
    border-color: #403E39;
    border-width: thin;
    border-style: solid;
    border-radius: 10px;
}

.warna_abu{
    color: grey;
}

.item-interactive.item-has-focus {
    --highlight-background: var(--highlight-color-focused);
}