<ion-content [fullscreen]="true">

  <div class="header">
    <div class="gambar ion-text-center">
      <img class="gambar_skala" src="assets/ss.png">
      <p class="josefinr ion-text-center">dream 1.0</p>
    </div> 
  </div>

  <div class="bg_card">
    <ion-card class="padding_card">
      <ion-card-content>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12" class="padding_col">
              <ion-text>
                <h1 class="text_login font_jsr">Login</h1>
              </ion-text>
            </ion-col>
  
            <ion-col size="12" class="padding_col">
              <ion-item class="item_border" lines="none">
                <ion-icon name="person-outline" size="large" class="padding_icon warna_abu"></ion-icon>
                <ion-input placeholder="Nama" type="text" [(ngModel)]="data_nama_f"></ion-input>
              </ion-item>
            </ion-col>
  
            <ion-col size="12" class="padding_col">
              <ion-item class="item_border" lines="none">
                <ion-icon name="key-outline" size="large" class="padding_icon warna_abu"></ion-icon>
                <ion-input placeholder="Sandi" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="data_sandi_f"></ion-input>
                <ion-icon [name]="passwordToggleIcon" (click)="lihat_sandi()" size="large"></ion-icon>
              </ion-item>
            </ion-col>
  
            <ion-col size="12" class="padding_col">
                <ion-button (click)="login()" color="primary" expand="block" class="border_text">Masuk</ion-button>
            </ion-col>

            <ion-col size="12" class="padding_col">
              <ion-button (click)="lupasandi()" expand="block" fill="clear">
                <ion-text color="dark" class="ion-text-center">
                  <h5>Lupa Sandi ?</h5>
                </ion-text>
              </ion-button>
          </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>