<ion-content>

  <ion-grid fixed class="margin_grid">
    
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <img class="size_img" src="assets/ss.png">
        <p class="margin_text_logo">dream 1.0</p>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col class="padding_col_card" size="12">
        <ion-card class="merah bayangan">
          <ion-card-content>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" class="ion-text-start margin_bawah">
                  <h1 class="putih text_login bold">Login</h1>
                </ion-col>

                <ion-col size="12">
                  <form (ngSubmit)="onSubmit(); waktu_login()" [formGroup]="myGroup" novalidate>
                    <ion-col size="12" class="ion-text-center margin_bawah">
    
                      <ion-item class="input_border">
                        <ion-icon name="person-outline" size="large" class="padding_ikon_kanan"></ion-icon>
                        <ion-input class="" placeholder="Nama" type="text" formControlName="nama_pengguna" required></ion-input>
                      </ion-item>
                      <ion-label class="error" *ngIf="isSubmitted && errorControl.nama_pengguna.errors?.required">
                        *Nama pengguna harus diisi.
                      </ion-label>

                    </ion-col>
    
                    <ion-col size="12" class="ion-text-center margin_bawah">
                      <ion-item class="input_border">
                        <ion-icon name="key-outline" size="large" class="padding_ikon_kanan"></ion-icon>
                        <ion-input placeholder="Sandi" [type]="showPassword ? 'text' : 'password'" formControlName="sandi_pengguna" required (keyup.enter)="onSubmit(); waktu_login()"></ion-input>
                        <ion-icon [name]="passwordToggleIcon" (click)="lihat_sandi()" size="large"></ion-icon>
                      </ion-item>
                      <ion-label class="error" *ngIf="isSubmitted && errorControl.sandi_pengguna.errors?.required">
                        *Sandi pengguna harus diisi.
                      </ion-label>
                    </ion-col>
    
                    <ion-col size="12" class="padding_button">
                      <ion-button type="submit" class="putih_button bold biru_gelap" expand="block" shape="round">Masuk</ion-button>
                    </ion-col>

                  </form>
                </ion-col>
    
                <ion-col size="12" class="">
                  <ion-button (click)="lupasandi()" expand="block" fill="clear">
                    <ion-text color="dark" class="ion-text-center">
                      <h5 class="putih">Lupa Sandi ?</h5>
                    </ion-text>
                  </ion-button>
              </ion-col>

              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center margin_atas_copyright" (click)="coba_swal()">
      <ion-col size="12">2022 © DADS</ion-col>
      <ion-col size="12">Powered by TECHNO SOLUSITAMA</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

