<ion-content>
  <div class="header">
    <ion-grid >
      <ion-row justify-content-start align-items-start>
        <ion-col class="konten_header" size="10">
          <ion-text>

            <h1 class="warna_putih font_nama_pengguna bold">{{ judul_proses }}</h1>

          </ion-text>    
        </ion-col>
        <ion-col size="2" class="konten_header ikon_rotate">
          <ion-icon (click)="kembali()" class="warna_putih" size="large" name="arrow-forward-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="card">
    <div class="images">
      <ion-card class="card_border margin_bawah">

        <ion-card-content class="konten_size_hedder">
          <div class="ion-text-center">
            <p class="tittle_text">{{ datajudul }}</p>
          </div>
          <div class="hr">
          </div>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="content">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <div>
              <ion-text>
                <h1 class="text_oprasional">Rincian Kegiatan</h1>
              </ion-text>   
            </div>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="data_kegiatan; else data_kegiatan_ada">
          <ion-col size="12">

            <ion-card class="card_border i_card_margin">
      
              <ion-card-content class="konten_size_hedder">
                <div class="ion-text-center">
                  <p class="tittle_text">Tidak Ada Kegiatan</p>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ng-template #data_kegiatan_ada>
          
          <ion-row  *ngFor='let data of array_progress;'>
            <ion-col size="12" class="card_konten_info">
              <div>
                <ion-card class="i_card_margin card_border" (click)="card_klik(data.id, data.nama_kegiatan)">
                  <ion-card-header class="card_header warna_merah">
                    <ion-card-subtitle class="title_text ion-text-center warna_putih">{{ data.nama_kegiatan }}</ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content class="card_padding_top">
                    <ion-grid>
  
                      <ion-row>
                        <ion-label>Status</ion-label>
                        <ion-col size="12" class="padding_col">
                          {{ data.status_pengerjaan }}
                        </ion-col>
                        <div class="hr2"></div>
                      </ion-row>
  
                      <ion-row>
                        <ion-label>Keterangan</ion-label>
                        <ion-col size="12" class="padding_col">
                          <p *ngIf="data.keterangan != null">
                            yuyuyuyu
                          </p>
                        </ion-col>
                        <div class="hr2"></div>
                      </ion-row>
  
                      <ion-row>
                        <ion-label>Alamat</ion-label>
                        <ion-col size="12" class="padding_col">{{ data.alamat_pengerjaan }}</ion-col>
                        <!-- <div class="hr2"></div> -->
                      </ion-row>
  
                    </ion-grid>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-col>
          </ion-row>

        </ng-template>

        
      </ion-grid>
    </div>
  </div>

</ion-content>