<ion-header class="ion-no-border">
  <ion-toolbar class="background_color">
    <ion-grid fixed>
      <ion-row class="ion-align-items-center">
        <ion-col size="10" class="ion-align-items-center text_header bold putih">Detail Kegiatan</ion-col>
        <ion-col size="2" class="ion-text-end">
          <ion-button (click)="kembali()" fill="clear" class="padding_button">
            <ion-icon name="arrow-back-outline" size="large" class="putih"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed class="ion-no-padding">
    <ion-row class="background_color_biru_gelap ion-padding-top">

      <div *ngIf="riwayat_loading; then tampilkan_loading; else tampilkan_riwayat"></div>

      <ng-template #tampilkan_loading>

        <ion-col size="12" class="">
          <ion-card class="bayangan">
            <ion-card-header>
              <ion-skeleton-text animated style="width: 100%; height: 2rem;"></ion-skeleton-text>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-grid fixed class="ion-no-padding">
                <ion-row>
                  <ion-col size="12">
                    <ion-list>
  
                      <ion-item >
                        <ion-label>
                          <ion-skeleton-text animated style="width: 30%; height: 1rem;"></ion-skeleton-text>
                          <ion-skeleton-text animated style="width: 100%; height: 1rem;"></ion-skeleton-text>
                        </ion-label>
                      </ion-item>
  
                      <ion-item >
                        <ion-label>
                          <ion-skeleton-text animated style="width: 30%; height: 1rem;"></ion-skeleton-text>
                          <ion-skeleton-text animated style="width: 100%; height: 1rem;"></ion-skeleton-text>
                        </ion-label>
                      </ion-item>
  
                      <ion-item >
                        <ion-label>
                          <ion-skeleton-text animated style="width: 30%; height: 1rem;"></ion-skeleton-text>
                          <ion-skeleton-text animated style="width: 100%; height: 1rem;"></ion-skeleton-text>
                        </ion-label>
                      </ion-item>
  
                    </ion-list>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" class="ion-text-start ion-padding-start ion-padding-top ion-padding-bottom">
          <h1 class="ion-no-margin">Riwayat Laporan</h1>
        </ion-col>

        <ion-col size="12">
          <ion-card class="bayangan">
            <ion-grid fixed class="ion-no-padding">
              <ion-row>
                <ion-col size="12">
                  <ion-skeleton-text animated style="width: 100%; height: 15rem;"></ion-skeleton-text>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-card-content>
              <ion-grid fixed class="ion-no-padding">
                <ion-row class="ion-padding-bottom">
                  <ion-col size="12">
                    <ion-skeleton-text animated style="width: 25%; height: 2rem;"></ion-skeleton-text>
                  </ion-col>
                  <ion-col size="12">
                    <ion-skeleton-text animated style="width: 20%; height: 2rem;"></ion-skeleton-text>
                  </ion-col>
                  <ion-col size="12">
                    <ion-skeleton-text animated style="width: 35%; height: 1rem;"></ion-skeleton-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <ion-skeleton-text animated style="width: 35%; height: 2rem;"></ion-skeleton-text>
                  </ion-col>
                  <ion-col size="12">
                    <ion-skeleton-text animated style="width: 100%; height: 1.5rem;"></ion-skeleton-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>



      </ng-template>

      <ng-template #tampilkan_riwayat>

        <ion-col size="12" class="">
          <ion-card class="bayangan">
            <ion-card-header class="pad_bottom">
              <ion-card-title class="ion-text-center ion-text-wrap text_judul">{{  data_obj_kegiatan.nama_kegiatan }}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-grid fixed class="ion-no-padding">
                <ion-row>
                  <ion-col size="12">
                    <ion-item class="ion-align-items-center abu" lines="none">
                      <ion-icon class="padding_icon" name="alert-circle-outline"></ion-icon>
                      <h2 class="ion-no-margin detail_informasi">Detail Informasi</h2>
                    </ion-item>
                    <ion-list class="pad_top">
                      <ion-item>
                        <ion-label>
                          <h2 class="padding_bottom_detail_informasi ion-no-margin detail_informasi">
                            Status Pengerjaan
                          </h2>
                          <h3 class="ion-no-margin">
                            {{  status_pengerjaan }}
                          </h3>
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label>
                          <h2 class="ion-no-margin padding_bottom_detail_informasi detail_informasi">
                            Keterangan
                          </h2>
                          <div class="ion-no-margin ion-text-wrap">
                            <h3 *ngIf="data_obj_kegiatan.keterangan != null; else keterangan_kosong">
                              {{  data_obj_kegiatan.keterangan }}
                            </h3>
                            <ng-template #keterangan_kosong>
                              <h3>
                                Tidak ada keterangan
                              </h3>
                            </ng-template>
                          </div>
                        </ion-label>
                      </ion-item>
                      <ion-item >
                        <ion-label>
                          <h2 class="ion-no-margin padding_bottom_detail_informasi detail_informasi">
                            Alamat
                          </h2>
                          <div class="ion-no-margin ion-text-wrap">
                            <h3>
                              {{  data_obj_kegiatan.alamat_pengerjaan }}
                            </h3>
                          </div>
                        </ion-label>
                      </ion-item>
                      <ion-item *ngIf="tanggal_detail != null; else tanggal_kosong">
                        <ion-label>
                          <h2 class="ion-no-margin padding_bottom_detail_informasi detail_informasi">
                            Tanggal Selesai
                          </h2>
                          <div class="ion-no-margin ion-text-wrap">
                            <h3>
                              {{ tanggal_detail }}
                            </h3>
                          </div>
                        </ion-label>
                      </ion-item>
  
                      <ng-template #tanggal_kosong>
                      </ng-template>
  
                    </ion-list>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" class="ion-text-start ion-padding-start ion-padding-top ion-padding-bottom">
          <h1 class="ion-no-margin">Riwayat Laporan</h1>
        </ion-col>

        <div *ngIf="riwayat_laporan; else data_arr_progressmilsetone_kosong">
          <ion-col size="12" *ngFor='let data of data_arr_progressmilsetone;'>
            <ion-card class="bayangan">
              <div class="ion-text-center">
                <img src="https://dads-demo-1.000webhostapp.com/{{ data.evidence_img }}" class="" (error)="errorHandler($event, data.id)">

                <ng-container
                  *ngIf="data_type_page == 1; then fabada else fabtidakada">
                </ng-container>

                <ng-template #fabada>
                  <ng-container
                    *ngIf="data_gambar_rusak[data.id] == 'rusak'; then gambar_rusak; else ada">
                  </ng-container>

                  <ng-template #gambar_rusak>
                    <ion-fab vertical="top" horizontal="end" size="large" slot="fixed" (click)="presentActionSheet(data.evidence_img)">
                      <ion-fab-button color="primary">
                        <ion-icon name="create-outline"></ion-icon>
                      </ion-fab-button>
                    </ion-fab>
                  </ng-template>
  
                  <ng-template #ada></ng-template>
                </ng-template>

                <ng-template #fabtidakada></ng-template>

              </div>
              <ion-card-content>
                <ion-grid fixed class="ion-no-padding">
                  <ion-row class="ion-padding-bottom">
                    <ion-col size="12">
                      <h1 class="hitam">Proses</h1>
                    </ion-col>
                    <ion-col size="12">
                      <h1 class="hitam">{{ data.progress_pengerjaan }}%</h1>
                    </ion-col>
                    <ion-col size="12">
                      <h2>Tanggal : {{ tanggal_pm[data.id] }}</h2>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <h1 class="hitam">Keterangan</h1>
                    </ion-col>
                    <ion-col size="12">
                      <h2 class="hitam">{{ data.remark }}</h2>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </div>
  
        <ng-template #data_arr_progressmilsetone_kosong>
          <ion-col size="12" class="">
            <ion-card class="bayangan">
              <ion-card-header class="ion-text-center ion-no-padding ">
                <img class="image_size" src="assets/kosong.png" (error)="errorHandler($event)">
              </ion-card-header>
              <ion-card-content class="ion-no-padding">
                <ion-grid fixed class="ion-no-padding">
                  <ion-row>
                    <ion-col size="12">
                      <ion-grid fixed>
                        <ion-row class="ion-text-center">
                          <ion-col size="12">
                            <h1 >Tidak ada riwayat laporan !</h1>
    
                          </ion-col>
                          <ion-col size="12">
                            <h2>Maaf, belum ada riwayat laporan di kegiatan ini !</h2>
    
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ng-template>

      </ng-template>

    </ion-row>
  </ion-grid>

  <!-- <div *ngIf="tipe_page;else fab_ada"></div>

  <ng-template #fab_ada>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="formulir()">
      <ion-fab-button color="primary">
        <ion-icon size="large" name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-template> -->

  
</ion-content>

<ng-container *ngIf="tipe_page;else fab_ada"></ng-container>

<ng-template #fab_ada>
  <ion-footer>
    <ion-toolbar class="ion-no-margin">
      <ion-button class="ion-no-padding ion-no-margin bold font_size_button" (click)="formulir()" expand="block" fill="clear" color="main2">
        Lapor Kegiatan
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ng-template>
