<ion-header class="ion-no-border">
  <ion-toolbar class="background_color">
    <ion-grid fixed>
      <ion-row class="ion-align-items-center">
        <ion-col size="10" class="ion-align-items-center text_header bold putih">Detail Kegiatan</ion-col>
        <ion-col size="2" class="ion-text-end">
          <ion-button (click)="kembali()" fill="clear" class="padding_button">
            <ion-icon name="arrow-back-outline" size="large" class="putih"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed class="ion-no-padding">
    <ion-row class="background_color_biru_gelap ion-padding-top">

      <div *ngIf="riwayat_loading; then tampilkan_loading; else tampilkan_riwayat"></div>
      
      <!-- loading skeleton -->
      <ng-template #tampilkan_loading>

        <ion-col size="12" class="">
          <ion-card class="bayangan">
            <ion-card-header>
              <ion-skeleton-text animated style="width: 100%; height: 2rem;"></ion-skeleton-text>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-grid fixed class="ion-no-padding">
                <ion-row>
                  <ion-col size="12">
                    <ion-list>
  
                      <ion-item >
                        <ion-label>
                          <ion-skeleton-text animated style="width: 30%; height: 1rem;"></ion-skeleton-text>
                          <ion-skeleton-text animated style="width: 100%; height: 1rem;"></ion-skeleton-text>
                        </ion-label>
                      </ion-item>
  
                    </ion-list>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ng-template>

      <!-- menampilkan data -->
      <ng-template #tampilkan_riwayat>

        <ion-col size="12" class="">
          <ion-card class="bayangan">
            <ion-card-header class="pad_bottom" (click)="hide_detail()">
              <ion-card-title class="ion-text-center ion-text-wrap text_judul">{{ data_detail_kegiatan.uraian_kegiatan }}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-no-padding" [hidden]=hidedetail>
              <ion-grid fixed class="ion-no-padding">
                <ion-row>
                  <ion-col size="12">
                    <ion-item class="ion-align-items-center abu" lines="none">
                      <ion-icon class="padding_icon" name="alert-circle-outline"></ion-icon>
                      <h2 class="ion-no-margin detail_informasi">Detail Informasi</h2>
                    </ion-item>
                    <ion-list class="pad_top">
                      <ion-item>
                        <ion-label>
                          <h3 class="abu padding_bottom_detail_informasi ion-no-margin detail_informasi">
                            Target volume pengerjaan
                          </h3>
                          <h2 class="ion-no-margin">
                            {{ data_detail_kegiatan.volume }} {{ data_detail_kegiatan.nama }}
                          </h2>
                        </ion-label>
                      </ion-item>

                      <ion-item >
                        <ion-label>
                          <h3 class="abu ion-no-margin padding_bottom_detail_informasi detail_informasi">
                            Progress pengerjaan
                          </h3>
                          <div class="ion-no-margin ion-text-wrap">
                            <h2>
                              {{ data_persen }}
                            </h2>
                          </div>
                        </ion-label>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- searchbar -->
        <ion-col size="12" class="">
          
        </ion-col>

        <ion-col size="12" *ngIf="riwayat_laporan; else data_arr_progressmilsetone_kosong">
          <ion-card class="">
            <ion-card-content class="ion-no-padding" [hidden]=false>
              <ion-grid fixed class="ion-no-padding">
                <ion-row>
                  <ion-col size="12">
                    <ion-searchbar placeholder="Cari riwayat" class="ion-no-padding"></ion-searchbar>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>

          <div class="scrollan" scrolly="true" style="max-height:29rem">

            <ion-card *ngFor='let data of data_arr_progressmilsetone; let i = index' class="ion-activatable" (click)="lihat_list(data.list_path, data.item)" >
              <ion-card-content>
                <ion-grid fixed class="ion-no-padding">
                  <ion-row>
                    <ion-col size="12" class="ion-text-end">{{ tanggal_pm[data.id] }}</ion-col>
                  </ion-row>
                  <ion-row class="pad_bottom">
                    <ion-col size="6" class="hitam">
                      <h1 class="hitam">
                        {{ data.item }}
                      </h1>
                    </ion-col>
                    <ion-col size="6" class="ion-text-end">
                      <h1 class="hitam">
                        {{ data.volume }} {{ data.nama }}
                      </h1>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12" class="hitam">
                      <h1 class="hitam">Keterangan</h1>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <h2>
                        {{ data.keterangan }}
                      </h2>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card>

          </div>
        </ion-col>

        <ng-template #data_arr_progressmilsetone_kosong>
          <ion-col size="12" class="">
            <ion-card class="bayangan">
              <ion-card-header class="ion-text-center ion-no-padding ">
                <img class="image_size" src="assets/kosong.png" (error)="errorHandler($event)">
              </ion-card-header>
              <ion-card-content class="ion-no-padding">
                <ion-grid fixed class="ion-no-padding">
                  <ion-row>
                    <ion-col size="12">
                      <ion-grid fixed>
                        <ion-row class="ion-text-center">
                          <ion-col size="12">
                            <h1 >Tidak ada riwayat laporan !</h1>
    
                          </ion-col>
                          <ion-col size="12">
                            <h2>Maaf, belum ada riwayat laporan di kegiatan ini !</h2>
    
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ng-template>

      </ng-template>

    </ion-row>
  </ion-grid>
</ion-content>

<ng-container *ngIf="tipe_page;else fab_ada"></ng-container>

<ng-template #fab_ada>
  <ion-footer>
    <ion-toolbar class="ion-no-margin background_color">
      <ion-button class="ion-no-padding ion-no-margin bold font_size_button" (click)="formulir(data_detail_kegiatan.nama, data_detail_kegiatan.uraian_kegiatan)" expand="block" fill="clear" color="light">
        Lapor Kegiatan
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ng-template>
