.background_color{
  --background: #1B2338;
}

.padding_button{
  --padding-end: 0px
}

.background_color_biru_gelap{
  background: #1B2338;
  height: 5rem;
  border-radius: 0 0 50% 50%;
}

.kuning {
  // background: linear-gradient(180deg, #FF0E0E 45%, #6C0202 100%);
  background: #FFC107;
}

.hijau {
  // background: linear-gradient(180deg, #FF0E0E 45%, #6C0202 100%);
  background: #28A745;
}

.border_radius{
  border-radius: 1rem;
}

.ngatur_gambar{
  width: 50%;
  height: auto;
}

.padding_bottom_detail_informasi{
  padding-bottom: 5px;
}

.padding_icon{
  padding-right: 5px;
  padding-bottom: 6px;
}

.pad_top{
  padding-top: 0px;
}

//scroll
.scrollan[scrollx=true],div[scrolly=true] {
  position: relative;
  overflow: hidden;
}

.scrollan[scrolly=true] {
    overflow-y: auto;
}

// fontsize
.text_header{
  font-size: 150%;
}

.text_judul{
  font-size: 160%;
}

.pad_bottom{
  padding-bottom: 12px;
}

.detail_informasi{
  font-size: 120%;
}

h3{
  font-size: 110%;
}

h2{
  font-size: 130%;
}

.font_size_button{
  font-size: 115%;
}

.button_height{
  --width: 60px;
  --height: 60px;
  --border-radius: 20px;
  --vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.icon_padding_bottom{
  padding-bottom: 8px;
}

.no_padding_left{
  padding-left: 0px;
}

img {
  max-width: 50%;
}

.nop_padding_right{
  padding-right: 0px;
}
